body{
    background: url(michael-baccin-XopauR-Nagk-unsplash.jpg);
    background-size: cover;
    backdrop-filter: blur(8px);
    height: 600vh;
    width: 100%;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    color: black;
}
.header{  
    position: sticky;
    top:0; left:0; right:0;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
    background-color: antiquewhite;
}
.header .logo{
    padding-left: 2rem;
    color:var(--black);
 }
.sidenav{
    width: 0;
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    right: 0;
}
.sidenav a,.dropdown .drop{
  padding: 8px;
  display: block;
  transition: 0.3s;
  color: seagreen;
  border: none;
  background: none;
  font-size: 20px;
  text-transform: capitalize;
}
.sidenav a:hover,.dropdown .drop:hover{
  color: black;
}
.sidenav .dropdown .dropdown-container {
  display: none;
  padding-left: 8px;
}
.sidenav .dropdown:hover .dropdown-container{
    display: block;
}
.dropdown-container a:hover{
    background-color: black;
    color: white;
}
.header span{
    float: right;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  font-size: 50px;
}
.sidenav .fa-caret-down {
  float: right;
  color: seagreen;
  padding-left: 8px;
}
.maintext .maintext-title{
    font-size: 25px;
    padding: 5rem;
    text-align: center;
    text-transform: capitalize;
    color: antiquewhite;
}
.maintext .newpubhead{
    text-transform: capitalize;
    padding-left: 8rem;
    color: yellowgreen;
    font-size: 20px;
    border: none;
    background: none;
}
.maintext .newpubhead .fa-caret-right{
    font-size: 25px;
    color: antiquewhite;
    padding-left: 8px;
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
}
.newpub .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.newpub .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
}

.newpub .box-container .box:hover .image img{
   transform: scale(1.1);
}

.newpub .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.newpub .box-container .box .image img{
   height: 100%;
   width: 50%;
   object-fit: contain;
   transition: .2s linear;
}

.new/*pub .box-container .box .content{
   padding:2rem;
   text-align: center;
}*/

.newpub .box-container .box .content-title{
   font-size: 15px;
   color:white;
   padding-left: 2rem;
}

.newpub .box-container .box .content{
   font-size: 12px;
   color:white;
   line-height: 2;
   padding-left: 2rem;
}

.newpub .load-more{
   text-align: center;
   margin-top: 2rem;
}