:root{
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}
body{
    background: url(michael-baccin-XopauR-Nagk-unsplash.jpg);
    background-size: cover;
    backdrop-filter: blur(8px);
    height: 600vh;
    width: 100%;
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: black;
}
.header{  
    position: sticky;
    top:0; left:0; right:0;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 20px;
    background-color: antiquewhite;
    z-index: 1;
}
.header .logo{
    padding-left: 2rem;
    color:var(--black);
 }
.sidenav{
    background-color: antiquewhite;
    border: 0.5px black;
    border-style: groove;
    width: 0;
    position: absolute;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    right: 0;
}
.sidenav a,.dropdown .drop{
  padding: 8px;
  display: block;
  transition: 0.3s;
  color: seagreen;
  border: none;
  background: none;
  font-size: 20px;
  text-transform: capitalize;
}
.sidenav a:hover,.dropdown .drop:hover{
  color: black;
}
.sidenav .dropdown .dropdown-container {
  display: none;
  padding-left: 8px;
}
.sidenav .dropdown:hover .dropdown-container{
    display: block;
}
.dropdown-container a:hover{
    background-color: black;
    color: white;
}
.header span{
    float: right;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  font-size: 50px;
}
.sidenav .fa-caret-down {
  float: right;
  color: seagreen;
  padding-left: 8px;
}
.maintext .maintext-title{
    font-size: 25px;
    padding: 5rem;
    text-align: center;
    text-transform: capitalize;
    color: antiquewhite;
}
.maintext .newpubhead{
    text-transform: capitalize;
    border-color: antiquewhite;
    display: inline-block;
    margin-left: 8rem;
    margin-bottom: 2rem;
    color: yellowgreen;
    font-size: 20px;
    background: none;
}
.maintext .newpubhead:hover{
    cursor: pointer;
}
.maintext .newpubhead .fa-caret-right{
    font-size: 25px;
    color: antiquewhite;
    padding-left: 8px;
    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    }
    @keyframes blink {
      to {
        visibility: hidden;
      }
    }
    @-webkit-keyframes blink {
      to {
        visibility: hidden;
      }
    }
.maintext .newpub .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
   gap: 1rem;
   padding-left: 8rem;
}

.maintext .newpub .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.maintext .newpub .box-container .box:nth-child(1),
.maintext .newpub .box-container .box:nth-child(2),
.maintext .newpub .box-container .box:nth-child(3),
.maintext .newpub .box-container .box:nth-child(4),
.maintext .newpub .box-container .box:nth-child(5),
.maintext .newpub .box-container .box:nth-child(6){
   display: inline-block;
}

.maintext .newpub .box-container .box:hover .image img{
   transform: scale(1.1);
   overflow: hidden;
   object-fit: contain;
}

.maintext .newpub .box-container .box .image{
   height: 100%;
   width: 100%;
   align-content: center;
   display: inline;
   overflow: hidden;
}

.maintext .newpub .box-container .box .image img{
   height: 15rem;
   width: 18rem;
   object-fit: contain;
   transition: .2s linear;
}

.maintext .newpub .box-container .box .content{
   padding:0.5rem;
   text-align: center;
}

.maintext .newpub .box-container .box .content h3{
/*   display: inline;*/
   font-size: 1.5rem;
   color:var(--black);
}

.maintext .newpub .box-container .box .content p{
/*   display: inline;*/
   font-size: 1rem;
   color:var(--light-black);
   line-height: 2;
   padding:0.5rem;
}

/*.maintext .load-more{
   display: block;
   text-align: center;
   margin-top: 2rem;
   color: var(--light-black);
   text-transform: capitalize;
   background-color: antiquewhite;
}*/

.sticky {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
 }

 .sticky + .content {
   padding-right: 60px;
 }
